<div class="transactions__list">
    <div class="transaction">

        <div class="transaction__header transaction__header--six-cols">
            <div class="transaction__data">
                <p>June 26, 2017 5:59 AM</p>
            </div>

            <div class="transaction__currency">
                
                Litecoin
            </div>

            <div class="transaction__info">
                <img src="img/transaction-icon-pending.svg" alt="">
                <p>
                    Pending to 3Bhe5sbhSTNxcDpYyy
                </p>
            </div>

            <div class="transaction__status">
                <div class="status status--pending">
                    Pending
                </div>
            </div>

            <div class="transaction__course">
                <span class="rate rate--minus">- 0.1 LTC</span>
                <span class="rate rate--normal">- 25 USD</span>
            </div>

            <div class="transaction__actions">

                <div class="tooltip">
                    <div class="tooltip__icon">

                    </div>
                    <div class="tooltip__text">
                        Add to archive
                    </div>
                </div>

            </div>
        </div>

        <div class="transaction__body">
            <ul class="transaction__details">
                <li>
                    <span>Sender name:</span> Andrew Smith
                </li>
                <li>
                    <span>Sender adress:</span> 3Bhe5sbhSTNxcDpYyyWkyN76YReDs8wFv8
                </li>
                <li>
                    <span>Condition:</span> Pending
                </li>
            </ul>
        </div>							

    </div>

    <div class="transaction">

        <div class="transaction__header transaction__header--six-cols">
            <div class="transaction__data">
                <p>June 26, 2017 5:59 AM</p>
            </div>

            <div class="transaction__currency">
                						   
               Bitcoin
            </div>

            <div class="transaction__info">
                <img src="img/transaction-icon-sent.svg" alt="">
                <p>
                    Sent to 3Bhe5sbhSTNxcDpYyy
                </p>
            </div>

            <div class="transaction__status">
                <div class="status status--sent">
                    Sent
                </div>
            </div>

            <div class="transaction__course">
                <span class="rate rate--pending">+ 1 ETH</span>
                <span class="rate rate--normal">+ 987 USD</span>
            </div>

            <div class="transaction__actions">

                <div class="tooltip">
                    <div class="tooltip__icon">
                        
                    </div>
                    <div class="tooltip__text">
                        Add to archive
                    </div>
                </div>

            </div>
        </div>

        <div class="transaction__body">
            <ul class="transaction__details">
                <li>
                    <span>Sender name:</span> Andrew Smith
                </li>
                <li>
                    <span>Sender adress:</span> 3Bhe5sbhSTNxcDpYyyWkyN76YReDs8wFv8
                </li>
                <li>
                    <span>Condition:</span> Sent
                </li>
            </ul>
        </div>							

    </div>

    <div class="transaction">

        <div class="transaction__header transaction__header--six-cols">
            <div class="transaction__data">
                <p>June 26, 2017 5:59 AM</p>
            </div>

            <div class="transaction__currency">
                							   
               Ethereum
            </div>

            <div class="transaction__info">
                <img src="img/transaction-icon-recived.svg" alt="">
                <p>Sent to 3Bhe5sbhSTNxcDpYyy</p>
            </div>

            <div class="transaction__status">
                <div class="status status--recived">
                    Recived
                </div>
            </div>

            <div class="transaction__course">
                <span class="rate rate--plus">+ 0.056 BTC</span>
                <span class="rate rate--normal">+ 351 USD</span>
            </div>

            <div class="transaction__actions">

                <div class="tooltip">
                    <div class="tooltip__icon">
                       
                    </div>
                    <div class="tooltip__text">
                        Add to archive
                    </div>
                </div>

            </div>
        </div>

        <div class="transaction__body">
            <ul class="transaction__details">
                <li>
                    <span>Sender name:</span> Andrew Smith
                </li>
                <li>
                    <span>Sender adress:</span> 3Bhe5sbhSTNxcDpYyyWkyN76YReDs8wFv8
                </li>
                <li>
                    <span>Condition:</span> Recived
                </li>
            </ul>
        </div>							

    </div>

    <div class="transaction">

        <div class="transaction__header transaction__header--six-cols">
            <div class="transaction__data">
                <p>June 26, 2017 5:59 AM</p>
            </div>

            <div class="transaction__currency">
                							   
                Ethereum
            </div>

            <div class="transaction__info">
                <img src="img/transaction-icon-disable.svg" alt="">
                <p>Sent to 3Bhe5sbhSTNxcDpYyy</p>
            </div>

            <div class="transaction__status">
                <div class="status status--decline">
                    Decline
                </div>
            </div>

            <div class="transaction__course">
                <span class="rate rate--minus">- 0.1 LTC</span>
                <span class="rate rate--normal">- 25 USD</span>
            </div>

            <div class="transaction__actions">

                <div class="tooltip">
                    <div class="tooltip__icon">
                        
                    </div>
                    <div class="tooltip__text">
                        Add to archive
                    </div>
                </div>

            </div>
        </div>

        <div class="transaction__body">
            <ul class="transaction__details">
                <li>
                    <span>Sender name:</span> Andrew Smith
                </li>
                <li>
                    <span>Sender adress:</span> 3Bhe5sbhSTNxcDpYyyWkyN76YReDs8wFv8
                </li>
                <li>
                    <span>Condition:</span> Decline
                </li>
            </ul>
        </div>							

    </div>

    <div class="transaction">

        <div class="transaction__header transaction__header--six-cols">
            <div class="transaction__data">
                <p>June 26, 2017 5:59 AM</p>
            </div>

            <div class="transaction__currency">
                
                Litecoin
            </div>

            <div class="transaction__info">
                <img src="img/transaction-icon-pending.svg" alt="">
                <p>Pending to 3Bhe5sbhSTNxcDpYyy</p>
            </div>

            <div class="transaction__status">
                <div class="status status--pending">
                    Pending
                </div>
            </div>

            <div class="transaction__course">
                <span class="rate rate--minus">- 0.1 LTC</span>
                <span class="rate rate--normal">- 25 USD</span>
            </div>

            <div class="transaction__actions">

                <div class="tooltip">
                    <div class="tooltip__icon">
                       
                    </div>
                    <div class="tooltip__text">
                        Add to archive
                    </div>
                </div>

            </div>
        </div>

        <div class="transaction__body">
            <ul class="transaction__details">
                <li>
                    <span>Sender name:</span> Andrew Smith
                </li>
                <li>
                    <span>Sender adress:</span> 3Bhe5sbhSTNxcDpYyyWkyN76YReDs8wFv8
                </li>
                <li>
                    <span>Condition:</span> Pending
                </li>
            </ul>
        </div>							

    </div>

    <div class="transaction">

        <div class="transaction__header transaction__header--six-cols">
            <div class="transaction__data">
                    June 26, 2017 5:59 AM
            </div>

            <div class="transaction__currency">
                							   
               Bitcoin
            </div>

            <div class="transaction__info">
                <img src="img/transaction-icon-sent.svg" alt="">
                Sent to 3Bhe5sbhSTNxcDpYyy
            </div>

            <div class="transaction__status">
                <div class="status status--sent">
                    Sent
                </div>
            </div>

            <div class="transaction__course">
                <span class="rate rate--minus">- 0.1 LTC</span>
                <span class="rate rate--normal">- 25 USD</span>
            </div>

            <div class="transaction__actions">

                <div class="tooltip">
                    <div class="tooltip__icon">
                       
                    </div>
                    <div class="tooltip__text">
                        Add to archive
                    </div>
                </div>

            </div>
        </div>

        <div class="transaction__body">
            <ul class="transaction__details">
                <li>
                    <span>Sender name:</span> Andrew Smith
                </li>
                <li>
                    <span>Sender adress:</span> 3Bhe5sbhSTNxcDpYyyWkyN76YReDs8wFv8
                </li>
                <li>
                    <span>Condition:</span> Sent
                </li>
            </ul>
        </div>							

    </div>

    <div class="transaction">

        <div class="transaction__header transaction__header--six-cols">
            <div class="transaction__data">
                <p>June 26, 2017 5:59 AM</p>
            </div>

            <div class="transaction__currency">
                							   
               Ethereum
            </div>

            <div class="transaction__info">
                <img src="img/transaction-icon-recived.svg" alt="">
                <p>Sent to 3Bhe5sbhSTNxcDpYyy</p>
            </div>

            <div class="transaction__status">
                <div class="status status--recived">
                    Recived
                </div>
            </div>

            <div class="transaction__course">
                <span class="rate rate--minus">- 0.1 LTC</span>
                <span class="rate rate--normal">- 25 USD</span>
            </div>

            <div class="transaction__actions">

                <div class="tooltip">
                    <div class="tooltip__icon">
                        
                    </div>
                    <div class="tooltip__text">
                        Add to archive
                    </div>
                </div>

            </div>
        </div>

        <div class="transaction__body">
            <ul class="transaction__details">
                <li>
                    <span>Sender name:</span> Andrew Smith
                </li>
                <li>
                    <span>Sender adress:</span> 3Bhe5sbhSTNxcDpYyyWkyN76YReDs8wFv8
                </li>
                <li>
                    <span>Condition:</span> Recived
                </li>
            </ul>
        </div>							

    </div>

    <div class="transaction">

        <div class="transaction__header transaction__header--six-cols">
            <div class="transaction__data">
                <p>June 26, 2017 5:59 AM</p>
            </div>

            <div class="transaction__currency">
                							   
                Ethereum
            </div>

            <div class="transaction__info">
                <img src="img/transaction-icon-disable.svg" alt="">
                <p>Sent to 3Bhe5sbhSTNxcDpYyy</p>
            </div>

            <div class="transaction__status">
                <div class="status status--decline">
                    Decline
                </div>
            </div>

            <div class="transaction__course">
                <span class="rate rate--minus">- 0.1 LTC</span>
                <span class="rate rate--normal">- 25 USD</span>
            </div>

            <div class="transaction__actions">

                <div class="tooltip">
                    <div class="tooltip__icon">
                        
                    </div>
                    <div class="tooltip__text">
                        Add to archive
                    </div>
                </div>

            </div>
        </div>

        <div class="transaction__body">
            <ul class="transaction__details">
                <li>
                    <span>Sender name:</span> Andrew Smith
                </li>
                <li>
                    <span>Sender adress:</span> 3Bhe5sbhSTNxcDpYyyWkyN76YReDs8wFv8
                </li>
                <li>
                    <span>Condition:</span> Decline
                </li>
            </ul>
        </div>							

    </div>

</div>