<!DOCTYPE html>

<html lang="en">

<head>
    <title>Add New Token</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


<div class="jumbotron text-center">
    <h2>Add New Token</h2>
</div>

<div class="container">
    <form action="/add-new-token" method="post">
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="token_contract_addr" placeholder="Token Contract Address" class="form-control">
            </div>
        </div>

        <br/>
        <br/>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>

​
